{% extends '_global.twig' %}

{% block title %}{{ parent() }}{% if title %} :: {{ title }}{% endif %}{% endblock %}

{% block head %}
{{ parent () -}}
{% if redirect %}<meta http-equiv="refresh" content="{{ redirect['wait'] }};{% if redirect['url'] %}url={{ redirect['url'] }}{% endif %}">{% endif %}
{% endblock %}

{% block body %}
<div class="message {{ name }}">
	{{ message }}
{% if refreshable %}
	<br><br>
	<a href="javascript: refresh();">Refresh</a>
</div>
{% include 'refresh.script.twig' %}
{% endif %}
{% endblock %}
